.Title {
  color: inherit;
}

.poppinsSemiBold {
  font: var(--font-poppins-semi-bold);
}

.poppinsRegular {
  font: var(--font-poppins-regular);
}

.interMediumM {
  font: var(--font-inter-medium-m);
}

.interMediumL {
  font: var(--font-inter-medium-l);
}

.interRegularM {
  font: var(--font-inter-regular-l);
}

.interRegularL {
  font: var(--font-inter-regular-m);
}

.interRegularLH {
  font: var(--font-inter-regular-lh);
}

.roboto {
  font: var(--font-roboto);
}

.sans {
  font: var(--font-sans);
}

.interSemiBoldM {
  font: var(--font-inter-semi-bold-m);
}

.interSemiBoldL {
  font: var(--font-inter-semi-bold-l);
}

.interBoldM {
  font: var(--font-inter-bold-m);
}

.interBoldL {
  font: var(--font-inter-bold-l);
}

.interBoldXL {
  font: var(--font-inter-bold-xl);
}

.grey500 {
  color: var(--color-grey500);
}

.grey600 {
  color: var(--color-grey600);
}

.dark {
  color: var(--color-dark);
}

.light {
  color: var(--color-light);
}

.blue500 {
  color: var(--color-blue500);
}

.blue600 {
  color: var(--color-blue600);
}